{% extends 'listViews/list_view_base.html' %}


        {% block data %}
            <td>{{ object.exam }}</td>
            <td>{{ object.date }}</td>
            <td>{{ object.shift }}</td>
            <td>{{ object.examroom }}</td>
            <td><a class="btn btn-primary" role="button" href="{% url 'assignments_edit' object.pk %}"><i class="fa fa-edit"></i></a>
            <a class="btn btn-danger" role="button" href="{% url 'assignments_remove' %}"><i class="fa fa-trash"></i></a></td>
        {% endblock %}
        {% block addBtn %}
            <a class="btn btn-success" href="{% url 'assignments_add' %}">Assign next Invigilator</a>
        {% endblock %}