{% extends 'listViews/list_view_base.html' %}
{% block data %}
            <td>{{ object.shiftName }}</td>
            <td>{{ object.exam }}</td>
            <td>{{ object.startTime }}</td>
            <td>{{ object.endTime }}</td>
            <td><a class="btn btn-primary" role="button" href="{% url 'shifts_edit' object.pk %}"><i class="fa fa-edit"></i></a>
            <a class="btn btn-danger" role="button" href="{% url 'shifts_remove' %}"><i class="fa fa-trash"></i></a></td>


{% endblock %}
{% block addBtn %}
            <a class="btn btn-success" href="{% url 'shifts_add' %}">Add new Shift</a>
        {% endblock %}