{% extends 'listViews/list_view_base.html' %}
{% block data %}
            <td>{{ object.name }}</td>
            <td>{{ object.capacity }}</td>
            <td><a class="btn btn-primary" role="button" href="{% url 'exam_rooms_edit' object.pk %}"><i class="fa fa-edit"></i></a>
            <a class="btn btn-danger" role="button" href="{% url 'exam_rooms_remove' %}"><i class="fa fa-trash"></i></a></td>


{% endblock %}
{% block addBtn %}
            <a class="btn btn-success" href="{% url 'exam_rooms_add' %}">Add new ExamRoom</a>
        {% endblock %}