{% extends 'listViews/list_view_base.html' %}
{% block data %}
            <td>{{ object.name }}</td>
            <td>{{ object.capacity }}</td>
            <td>{{ object.examCenter }}</td>
            <td><a class="btn btn-primary" role="button" href="{% url 'exam_rooms_edit' object.pk %}"><i class="fa fa-edit"></i></a>
            <button class="btn btn-danger deleteButton" type="button"  role="button" data-toggle="modal" data-target="#deleteModal"><i class="fa fa-trash"></i></button></td>


{% endblock %}
{% block addBtn %}
            <a class="btn btn-success" href="{% url 'exam_rooms_add' %}">Add new ExamRoom</a>
            <a class="btn btn-primary" href="{% url 'assignments_add' %}">Assign Invigilators</a>
    <a href="{% url 'invigilators_add' %}" class="btn btn-success">Add New Invigilator</a>
        {% endblock %}