{% extends 'listViews/list_view_base.html' %}
{% block data %}
            <td>{{ object.title }}</td>

            <td><a class="btn btn-primary" role="button" href="{% url 'examCenter_edit' object.pk %}"><i class="fa fa-edit"></i></a>
            <button class="btn btn-danger deleteButton"  type="button" role="button" data-toggle="modal" data-target="#deleteModal"><i class="fa fa-trash"></i></button></td>


{% endblock %}
{% block addBtn %}
            <a class="btn btn-success" href="{% url 'examCenter_add' %}">Add new Exam</a>
        {% endblock %}